.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 3px 0 0 14px;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li {
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li {
    display: block;
    /*行高大于高度时底部会偏下*/
    line-height: 49px;
    padding: 0 30px;
    font-size: 14px;
    /*font-weight: 700;*/
    /*color: #000;*/
}

.sk_con ul li:last-child a::after {
    content: '\e91e';
    font-family: 'icomoon';
}

/*4倍数的元素*/
.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd  ul li {
    overflow: hidden;
    float: left;
    margin-right: 13px;
    width: 290px;
    height: 460px;
    border: 1px solid transparent;
}

.page {
    margin: 40px 0;
    /* 里面的文字内容 行内块 行内元素 都可以水平居中对齐 */
    text-align: center;
}
.page_num a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}
.page_num .pn_prev,
.page_num .pn_next {
    width: 83px;
}
.page_num .dotted,
.page_num .current {
    border: 1px solid transparent;
    background-color: transparent;
}
.page_skip input {
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    text-align: center;
    transition: all 0.3s;
}
/* 表单获得焦点后 */
.page_skip input:focus {
    width: 58px;
    border: 1px solid skyblue;
}
.page_skip button {
    width: 54px;
    height: 36px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}
